<!DOCTYPE html>
<html lang="en" ng-app="statsPageApp">
<head>
  <meta charset="UTF-8">
  <title>Indicative Test</title>
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
  <div ng-controller="StatsCtrl">
    <div class="upper">
      <h1 id="stats-header">STATS</h1>

      <div id="stats-columns" class="clearfix">
        <div class="col">
          <ul>
            <li>Total Users: <span>{{totalRecords | number}}</span></li>
            <li>Total Colors: <span>{{colorsCount | number}}</span></li>
            <li>Percent of Females: <span>{{males | number:2}}</span>%</li>
            <li>Percent of Males: <span>{{females | number:2}}</span>%</li>
          </ul>
        </div>

        <div class="col">
          <ul>
            <li>Total users who performed a "signed_up": <span>{{signedup | number}}</span></li>
            <li>Total users who performed a "viewed_profile": <span>{{viewedProfile | number}}</span></li>
            <li>Total users who performed a "view_item": <span>{{viewedItem | number}}</span></li>
            <li>Total users who performed a "purchased_item": <span>{{purchasedItem | number}}</span></li>
          </ul>
        </div>

        <div class="col">
          <ul>
            <li>Conversion from Signup -> Purchase: <span>{{conversions | number:2}}</span>%</li>
            <li>Conversion from Signup -> Viewed Profile -> Purchase: <span>{{conversionsViewedProfile | number:2}}</span>%</li>
            <li>Conversion from Signup -> Viewed Item -> Purchase Item: <span>{{conversionsViewedItem | number:2}}</span>%</li>
          </ul>
        </div>
      </div>

      <input type="text" id="stats-first-name-search" ng-model="search.first_name">
      <button id="stats-add-row" ng-click="addRow()" ng-disabled="clicked">ADD ROW</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last name</th>
          <th>Gender</th>
          <th>Company Name</th>
          <th>Job Title</th>
          <th>Email</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | filter:search:strict">
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.company_name}}</td>
          <td>{{user.job_title}}</td>
          <td>{{user.email}}</td>
          <td>{{user.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
  <script src="js/app/controllers/statsController.min.js"></script>
  <script src="js/app/factory/statsFactory.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>
