@import "compass/css3";
body {
  padding: 0;
  margin: 0;
  background-color: #ccc;
}
.upper {
  padding: 14px 0;
}
h1 {
  text-align: center;
  cursor: pointer;
  margin: 0 0 14px;
}
table {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ddd;
  border-collapse: collapse;
  display: block;
  thead,
  tbody {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  tr {
    width: 100%;
    @include display-flex;
    @include justify-content(space-around);
  }
  tbody {
    overflow: auto;
  }
  th,
  td {
    text-align: left;
    display: table-cell;
    margin: 4px 6px;
    padding: 0 2px;
    word-wrap: break-word;
    @include align-content(stretch);
    &:nth-child(1) {
      @include flex(2 0 8%);
    }
    &:nth-child(2) {
      @include flex(2 0 8%);
    }
    &:nth-child(3) {
      @include flex(1 0 8%);
    }
    &:nth-child(4) {
      @include flex(3 0 10%);
    }
    &:nth-child(5) {
      @include flex(5 0 13%);
    }
    &:nth-child(6) {
      @include flex(10 0 18%);
    }
    &:nth-child(7) {
      @include flex(14 0 22%);
    }
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
}
#stats-columns {
  display: none;
  margin-bottom: 14px;
}
#stats-columns.show {
  @include display-flex;
  @include justify-content(space-around);
}
#stats-add-row {
  float: right;
}
.col {
  @include flex(0 1 auto);
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
